In [1]:
import sqlite3
import csv

with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()

    # Fresh start every time
    # query = "DROP TABLE athlete_events"
    # cursor.execute(query)
    # query = "DROP TABLE noc_regions"
    # cursor.execute(query)

    # Create the table athlete_event
    query = '''
                CREATE TABLE IF NOT EXISTS athlete_events(
                ID INT,
                Name CHAR(20),
                Sex CHAR(1),
                Age INT,
                Height INT,
                Weight INT,
                Team CHAR(50),
                NOC CHAR(50),
                Games CHAR(50),
                Year INT,
                Season CHAR(50),
                City CHAR(50),
                Sport CHAR(50),
                Event CHAR(50),
                Medal CHAR(50)
            )'''
    cursor.execute(query)

    print("Table athlete_event created successfully.")

    # Create the table noc_regions
    query = '''
                CREATE TABLE IF NOT EXISTS noc_regions(
                NOC CHAR(3),
                region CHAR(30),
                notes CHAR(100)
            )'''
    cursor.execute(query)

    print("Table noc_regions created successfully.")

    with open('athlete_events.csv') as file:
        rows = csv.reader(file, delimiter=',')
        next(rows) # To skip the header
        for row in rows:
            
            query = '''
                    INSERT INTO athlete_events
                    (ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal)
                    VALUES
                    (
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?,
                        ?
                    )
                    '''
            values = [entry for entry in row]
            cursor.execute(query, values)
    
    print("Values for athlete_events inserted successfully.")
    

    with open('noc_regions.csv') as file:
        rows = csv.reader(file, delimiter=',')
        next(rows) # To skip the header
        for row in rows:
            
            query = '''
                    INSERT INTO noc_regions
                    (NOC, region, notes)
                    VALUES
                    (
                        ?,
                        ?,
                        ?
                    )
                    '''
            values = [entry for entry in row]
            cursor.execute(query, values)
    
    print("Values for noc_regions inserted successfully.")

    conn.commit()

Table athlete_event created successfully.
Table noc_regions created successfully.
Values for athlete_events inserted successfully.
Values for noc_regions inserted successfully.

In [ ]:
# 1. List of all these 20 queries mentioned below:
# 2. How many olympics games have been held?
# 3. List down all Olympics games held so far.
# 4. Mention the total no of nations who participated in each olympics game?
# 5. Which year saw the highest and lowest no of countries participating in olympics?
# 6. Which nation has participated in all of the olympic games?
# 7. Identify the sport which was played in all summer olympics.
# 8. Which Sports were just played only once in the olympics?
# 9. Fetch the total no of sports played in each olympic games.
# 10. Fetch details of the oldest athletes to win a gold medal.
# 11. Find the Ratio of male and female athletes participated in all olympic games.
# 12. Fetch the top 5 athletes who have won the most gold medals.
# 13. Fetch the top 5 athletes who have won the most medals (gold/silver/bronze).
# 14. Fetch the top 5 most successful countries in olympics. Success is defined by no of medals won.
# 15. List down total gold, silver and broze medals won by each country.
# 16. List down total gold, silver and broze medals won by each country corresponding to each olympic games.
# 17. Identify which country won the most gold, most silver and most bronze medals in each olympic games.
# 18. Identify which country won the most gold, most silver, most bronze medals and the most medals in each olympic games.
# 19. Which countries have never won gold medal but have won silver/bronze medals?
# 20. In which Sport/event, India has won highest medals.
# 21. Break down all olympic games where india won medal for Hockey and how many medals in each olympic games.

In [2]:
# How many olympics games have been held?

with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
            SELECT COUNT(DISTINCT Games) FROM athlete_events
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

(51,)

In [3]:
# List down all Olympics games held so far.
with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
            SELECT DISTINCT Games FROM athlete_events
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

('1992 Summer',)
('2012 Summer',)
('1920 Summer',)
('1900 Summer',)
('1988 Winter',)
('1992 Winter',)
('1994 Winter',)
('1932 Summer',)
('2002 Winter',)
('1952 Summer',)
('1980 Winter',)
('2000 Summer',)
('1996 Summer',)
('1912 Summer',)
('1924 Summer',)
('2014 Winter',)
('1948 Summer',)
('1998 Winter',)
('2006 Winter',)
('2008 Summer',)
('2016 Summer',)
('2004 Summer',)
('1960 Winter',)
('1964 Winter',)
('1984 Winter',)
('1984 Summer',)
('1968 Summer',)
('1972 Summer',)
('1988 Summer',)
('1936 Summer',)
('1952 Winter',)
('1956 Winter',)
('1956 Summer',)
('1960 Summer',)
('1928 Summer',)
('1976 Summer',)
('1980 Summer',)
('1964 Summer',)
('2010 Winter',)
('1968 Winter',)
('1906 Summer',)
('1972 Winter',)
('1976 Winter',)
('1924 Winter',)
('1904 Summer',)
('1928 Winter',)
('1908 Summer',)
('1948 Winter',)
('1932 Winter',)
('1936 Winter',)
('1896 Summer',)

In [4]:
# Mention the total no of nations who participated in each olympics game?
with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
            SELECT COUNT(DISTINCT NOC), Games FROM athlete_events
            GROUP BY Games
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

# NOTE: At first I used Team, but actually different teams for the same nation appear in the historic DB.
# Using NOC it's more correct as it represents the country of origin

(12, '1896 Summer')
(31, '1900 Summer')
(15, '1904 Summer')
(21, '1906 Summer')
(22, '1908 Summer')
(29, '1912 Summer')
(29, '1920 Summer')
(45, '1924 Summer')
(19, '1924 Winter')
(46, '1928 Summer')
(25, '1928 Winter')
(47, '1932 Summer')
(17, '1932 Winter')
(49, '1936 Summer')
(28, '1936 Winter')
(59, '1948 Summer')
(28, '1948 Winter')
(69, '1952 Summer')
(30, '1952 Winter')
(72, '1956 Summer')
(32, '1956 Winter')
(84, '1960 Summer')
(30, '1960 Winter')
(93, '1964 Summer')
(36, '1964 Winter')
(112, '1968 Summer')
(37, '1968 Winter')
(121, '1972 Summer')
(35, '1972 Winter')
(92, '1976 Summer')
(37, '1976 Winter')
(80, '1980 Summer')
(37, '1980 Winter')
(140, '1984 Summer')
(49, '1984 Winter')
(159, '1988 Summer')
(57, '1988 Winter')
(169, '1992 Summer')
(64, '1992 Winter')
(67, '1994 Winter')
(197, '1996 Summer')
(72, '1998 Winter')
(200, '2000 Summer')
(77, '2002 Winter')
(201, '2004 Summer')
(79, '2006 Winter')
(204, '2008 Summer')
(82, '2010 Winter')
(205, '2012 Summer')
(89, '2014 Winter')
(207, '2016 Summer')

In [5]:
# Which year saw the highest and lowest no of countries participating in olympics?
with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
            SELECT Year, MAX(NumberCountries) FROM
            (SELECT Year, COUNT(DISTINCT NOC) as NumberCountries FROM athlete_events
            GROUP BY Year)
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

    query = '''
            SELECT Year, MIN(NumberCountries) FROM
            (SELECT Year, COUNT(DISTINCT NOC) as NumberCountries FROM athlete_events
            GROUP BY Year)
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

(2016, 207)
(1896, 12)

In [12]:
# Which nation has participated in all of the olympic games?
with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
                    SELECT n.region, COUNT(DISTINCT a.Games) AS game_count
                    FROM athlete_events AS a JOIN noc_regions as n
                    ON a.NOC = n.NOC
                    GROUP BY n.region
                    HAVING game_count = (
                                       SELECT COUNT(DISTINCT a.Games)
                                       FROM athlete_events AS a
                            )
                    
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

('France', 51)
('Italy', 51)
('Switzerland', 51)
('UK', 51)

In [15]:
# Identify the sport which was played in all summer olympics.
with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
                SELECT Sport, COUNT(DISTINCT Games) as game_count
                FROM athlete_events
                GROUP BY Sport
                HAVING Season = "Summer" AND game_count = (
                                        
                                    SELECT COUNT(DISTINCT Games)
                                    FROM athlete_events
                                    WHERE Season = "Summer"
                )
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

('Athletics', 29)
('Cycling', 29)
('Fencing', 29)
('Gymnastics', 29)
('Swimming', 29)

In [17]:
# Which Sports were just played only once in the olympics?
with sqlite3.connect('olympics.db') as conn:
    cursor = conn.cursor()
    query = '''
                SELECT Sport, COUNT(DISTINCT Games) as game_count
                FROM athlete_events
                GROUP BY Sport
                HAVING game_count = 1
            '''

    cursor.execute(query)
    for entry in cursor.fetchall():
        print(entry)

('Aeronautics', 1)
('Basque Pelota', 1)
('Cricket', 1)
('Croquet', 1)
('Jeu De Paume', 1)
('Military Ski Patrol', 1)
('Motorboating', 1)
('Racquets', 1)
('Roque', 1)
('Rugby Sevens', 1)